<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul class="film-details">
    <li class="film-title"><%= @film.title %></li>
    <li class="price">Ticket Price: <%= @film.price %></li>
    </ul>
    <hr class="red-separator"/>
    <p><a href="/films"> << Back to list </a></p>
  </body>
</html>
